.default {
  width: 100%;
  height: 56px;
  background-image: url(../../assets/images/DividerGreen.png);
  background-size: contain;
  background-repeat: repeat-x;
}
.logo {
  width: 100%;
  height: 56px;
  background-image: url(../../assets/images/deviderLogo.png);
  background-size: contain;
  background-repeat: repeat-x;
}
.purple {
  width: 100%;
  height: 44px;
  background-image: url(../../assets/images/deviderPurple.png);
  background-size: contain;
  background-repeat: repeat-x;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
.list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}
.item {
  height: 56px;
  width: 52px;
  overflow: hidden;
}
.itemLogo {
  width: 79px;
  overflow: unset;
}
.icon,
.iconFull,
.iconLogo,
.iconFullGreen {
  width: 100%;
  height: 100%;
  color: var(--Light-devider);
}
.iconFull {
  opacity: 1;
  color: var(--Purple);
}
.iconLogo {
  opacity: 1;
  width: 79px;
}
.iconFullGreen {
  opacity: 1;
  color: var(--Yellow);
}
.green {
  background-color: var(--Dark-devider);
}
.transparent {
  background-color: transparent;
  color: var(--Purple);
}
.logoList {
  background-color: var(--Dark-devider);
}
.green .item {
  height: 44px;
}

@media (orientation: portrait) {
  .default,
  .logo {
    background-size: cover;
    height: 42px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }

  .item {
    height: 42px;
  }
}
