.container {
  position: relative;
  padding: var(--padding-inner-section) var(--padding-container-desktop);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (orientation: portrait) {
  .container {
    padding: 60px 16px;
    align-items: normal;
  }
}
