.container {
  position: relative;
  padding: var(--padding-inner-section) var(--padding-container-desktop);
  display: flex;
  justify-content: space-between;
}
.left {
  max-width: 33.85em;
}
.title {
  font-size: 4.167em;
  line-height: 112.5%;
  text-transform: uppercase;
}
.titleGreen {
  color: var(--Yellow);
}
.title {
  margin-bottom: 3.33rem;
}
.description1,
.description2 {
  font-size: 1.25em;
  line-height: 133%;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.description1 {
  margin-bottom: 20px;
}
@media (orientation: portrait) {
  .container {
    padding: 60px 16px 40px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .title,
  .titleGreen {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
  }

  .title {
    margin-bottom: 40px;
  }
  .description1,
  .description2 {
    font-size: 20px;
    line-height: 28px;
  }
  .left {
    max-width: unset;
  }
  .right {
    width: 134px;
    height: 200px;
  }
}
