.container {
  position: relative;
  padding: var(--padding-inner-section) var(--padding-container-desktop);
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.text {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 133%;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.icon {
  width: 2.08rem;
  height: 2.08rem;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(33.85em, 1fr));
  align-items: center;
  gap: 20px;
  margin-top: 64px;
}
.imageContainer {
  box-shadow: 6px 6px 0px 0px var(--Purple);
  position: relative;
}
.image {
  width: 100%;
}
.animations {
  rotate: 90deg;
  position: absolute;
  top: 32px;
  right: 16px;
}
.decor {
  width: 4.8rem;
  height: 3.125rem;
  color: var(--Orange);
}
.triangle {
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
}

.animate .triangle1 {
  animation: appear 0.3s ease-out forwards;
  animation-delay: 0s;
}
.animate .triangle2 {
  animation: appear 0.3s ease-out forwards;
  animation-delay: 0.2s;
}
.animate .triangle3 {
  animation: appear 0.3s ease-out forwards;
  animation-delay: 0.4s;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media (orientation: portrait) {
  .container {
    padding: 60px 16px;
    align-items: normal;
  }
  .wrapper {
    grid-template-columns: auto;
    margin-top: 40px;
  }
  .text {
    font-size: 20px;
    line-height: 28px;
  }
  .icon {
    width: 32px;
    height: 32px;
  }
}
