.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  color: var(--Yellow);
  font-weight: 700;

  font-size: 1.33em;
  line-height: 133%;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}

.icon {
  position: absolute;

  left: 0.625em;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  color: var(--Grey-Icon);
  transition: var(--transition);
}
.icon svg {
  width: 20px;
  height: 19px;
}

.selectBox {
  position: relative;

  width: 14.84rem;

  max-width: 285px;
  color: var(--White);

  font-size: 0.9375em;
  line-height: 133%;
  border-radius: 999px;
  border: 0.5px solid var(--White);
  background: var(--Dark-Grey);

  padding: 1.04em 3em 1.04em 2.08em;

  transition: var(--transition);
  cursor: pointer;

  display: flex;
  align-items: flex-end;
}
.selectBoxWOIcon {
  padding: 1.04em 3em 1.04em 2.08em;
}
.arrow {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icons/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%) rotate(0deg);
  transition: var(--transition);
  transition-duration: 0.1s;
}

.open .arrow {
  transform: translateY(-50%) rotate(180deg);
}
.selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.dropDownContainer {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 12px;
  min-width: 100%;
  overflow-y: scroll;
  border-radius: 20px;
  background: var(--Grey-BG-2);
  box-shadow: 0px 4px 16px rgba(28, 28, 28, 0.4);
  z-index: 2;
  transition: var(--transition);
  overflow: hidden;
}

.dropdown {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 16px 12px 12px;
  overflow-y: auto;
  max-height: 200px;
}
.option {
  color: var(--White);

  font-size: 0.9375em;
  line-height: 122%;
  padding: 0.3125em 0.416em;
  border-radius: 0.625em;
  transition: var(--transition);
  cursor: pointer;
}
.option:hover,
.option:focus {
  background: rgba(110, 118, 132, 0.2);
}
.option:hover,
.option:focus,
.selectedOption {
  color: var(--Yellow);
}

@media (orientation: portrait) {
  .wrapper {
    width: 100%;
  }
  .selectBox {
    width: 100%;
    max-width: unset;
    padding: 13px 48px 13px 40px;
    font-size: 18px;
    line-height: 24px;
  }
  .selectBoxWOIcon {
    padding: 13px 48px 13px 13px;
  }
  .label {
    font-size: 24px;
    line-height: 32px;
  }
  .icon svg {
    width: 24px;
    height: 24px;
  }
  .option {
    font-size: 18px;
    line-height: 22px;
    padding: 6px 8px;
    border-radius: 12px;
  }
}

.blockedDate {
  color: #d10000 !important;
}
