.bouncing {
  display: block;

  width: 16.45em;
}

.ball {
  transform-origin: center;
  animation: none;
  transform: translateY(33%);
}

.animate .ball {
  animation: bounce 1s ease-in-out forwards;
}

@media (orientation: portrait) {
  .bouncing {
    width: 100%;
    rotate: -90deg;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(33%);
  }

  100% {
    transform: translateY(0);
  }
}
