.container {
  position: relative;
  padding: var(--padding-inner-section) var(--padding-container-desktop);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.item {
  background: var(--Yellow);
  border-radius: 999px;
  transition: var(--transition);

  &:hover,
  &:focus {
    background: var(--White);
  }
}
.item a {
  padding: 16px 48px 16px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon {
  width: 40px;
  height: 40px;
}
.text {
  color: var(--Dark-Grey);
  font-size: 20px;
  line-height: 24px;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
@media (orientation: portrait) {
  .container {
    padding: 60px 16px;
    align-items: normal;
  }
  .list {
    flex-direction: column;
  }
}
