.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-inner-section) 0;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1320px;
}
.title {
  color: var(--White);
  text-align: center;

  font-size: 4.17em;
  line-height: 112.5%;
  text-transform: uppercase;
}
.title {
  margin-bottom: 2.08rem;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.titleGreen {
  color: var(--Yellow);
}
.subTitle,
.subTitleGreen {
  max-width: 33.23em;
  color: var(--White);
  text-align: center;

  font-size: 1.25em;
  line-height: 133%;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.subTitleGreen {
  max-width: 34.27em;
  color: var(--Yellow);
}
.form {
  display: flex;
  align-items: end;

  gap: 1.04em;
  margin-top: 3.2em;
}
.icon {
  width: 1.25rem;
  height: 1.25rem;
}
.decor {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15.3125rem;
  height: 9.95rem;
  z-index: -1;
  color: var(--Purple);
}
.mobileDevider {
  display: none;
}
.alighItems {
  text-align: center;
}
@media (orientation: portrait) {
  .container {
    padding: 60px 16px;
    align-items: normal;
  }
  .title,
  .titleGreen {
    font-size: 30px;
    line-height: 38px;
  }
  .title {
    margin-bottom: 20px;
  }
  .subTitle,
  .subTitleGreen {
    font-size: 20px;
    line-height: 28px;
  }
  .mobileDevider {
    display: block;
  }
  .form {
    gap: 20px;
    margin-top: 40px;
    flex-direction: column;
    width: 100%;
  }
  .decor {
    display: none;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
}

.triangle {
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  animation: none;
}

.animate .triangle1 {
  animation: appear 0.3s ease-out forwards;
  animation-delay: 0s;
}
.animate .triangle2 {
  animation: appear 0.3s ease-out forwards;
  animation-delay: 0.2s;
}
.animate .triangle3 {
  animation: appear 0.3s ease-out forwards;
  animation-delay: 0.4s;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
