.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-inner-section) 0;
}
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1320px;
  width: 100%;
}
.wrapperGreen {
  max-width: 100%;
  background-color: var(--Yellow);
}
.title {
  color: var(--White);
  text-align: center;

  font-size: 4.17em;
  line-height: 112.5%;
  text-transform: uppercase;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.title {
  margin-bottom: 2.08rem;
  max-width: 46.875em;
}
.titleGreen {
  color: var(--Yellow);
}
.subTitle {
  color: var(--White);
  text-align: center;

  font-size: 1.25em;
  line-height: 133%;
  max-width: 38.54rem;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.list {
  display: grid;
  grid-template-columns: repeat(4, minmax(16.4em, 1fr));

  gap: 1.04em;
  margin: 3.33em 0;
  width: 100%;
}
.item {
  position: relative;
  background: var(--Dark-Grey);

  padding: 1.04em 1.04em 1.04em 5.42em;
  overflow: hidden;

  min-height: 8.96em;
}
.iconContainer {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-25%, -47%);

  width: 7.81em;
  height: auto;
}
.icon {
  width: 100%;
  height: 100%;
  color: var(--Orange);
}
.index {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -60%);
  color: var(--Grey-BG);
  text-align: center;
  font-family: Cairo;
  font-weight: 700;

  font-size: 3.02em;
  line-height: 118.9%;
  z-index: 1;
}
.stepTitle {
  color: var(--Yellow);
  font-weight: 700;

  font-size: 1.25em;
  margin-bottom: 12px;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.stepDescription {
  color: var(--White);
  font-weight: 300;

  font-size: 1.04em;
  line-height: 125%;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
@media (orientation: portrait) {
  .container {
    padding: 60px 16px;
    align-items: normal;
  }
  .wrapper {
    align-items: normal;
  }
  .title,
  .titleGreen {
    font-size: 30px;
    line-height: 38px;
  }
  .title {
    margin-bottom: 20px;
  }
  .subTitle,
  .subTitleGreen {
    font-size: 20px;
    line-height: 28px;
    max-width: unset;
  }
  .list {
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    margin: 40px 0;
  }
  .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 20px 20px 20px 80px;
    min-height: auto;
  }
  .iconContainer {
    transform: translate(-25%, -43%);
    width: 90px;
  }
  .index {
    font-size: 31px;
    transform: translate(-110%, -70%);
  }
  .stepTitle {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .stepDescription {
    font-size: 18px;
    line-height: 22px;
  }
}
