.container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--Orange);
  transition: var(--transition);
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &:hover {
    background-color: var(--White);
  }

  &:hover .icon {
    background-color: var(--White);
    color: var(--Orange);
  }
}
.icon {
  transition: var(--transition);
  color: var(--White);
  width: 24px;
  height: 24px;
  margin: 0 auto
}
@media (orientation: portrait) {
  .show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
