.animatedLogoContainer {
  display: flex;
  align-items: center;
  gap: 16px;

  color: var(--White);
  transition: var(--transition);
}
.animatedLogoContainer:hover .logoText {
  background-color: var(--Grey-BG);
  color: var(--Yellow);
}
.wrapper {
  width: 32px;
  height: 32px;
  background-color: var(--Yellow);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Grey-BG);
  flex-shrink: 0;
}

.wrapper svg {
  width: 100%;
  height: 100%;
}
.logoText {
  width: 79px;
  height: 33px;

  transition: var(--transition);
  color: var(--Orange);
}
@media (orientation: portrait) {
  .wrapper {
    padding: 6px;
  }
}
