.container {
  width: 100%;
  height: 100%;
}

.container div {
  height: 100%;
}

.dropzone {
  border: 2px dashed var(--Light-Grey);
  padding: 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--Grey-BG);
  color: var(--White);
  transition: border 0.2s;
}

.dropzone:hover {
  border-color: var(--Yellow);
}

.fileInfo {
  color: var(--White);
  margin-top: 12px;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}

.error {
  color: red;
  margin-top: 8px;
  font-size: 14px;
}
.icon {
  width: 48px;
  height: 48px;
}
.title {
  color: var(--White);
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
@media (orientation: portrait) {
  .title {
    font-size: 20px;
  }
  .dropzone {
    padding: 16px;
  }
}
