.wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bubbles {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  pointer-events: none;
}

.bubble {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  margin-left: -12px;
}

.bubble:first-child {
  margin-left: 0;
}

.label {
  position: relative;
  z-index: 1;
  white-space: nowrap;
  padding: 0 12px;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
