.overvlow {
  overflow: hidden;
}
.modalBackDrop {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: var(--Dark-Grey);
  overflow: auto;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: var(--transition);
}
.opacity {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.content {
  width: 100%;
  display: flex;
}

.pt-86 {
  padding-top: 86px;
}

.bg-blur {
  background: rgba(42, 41, 46, 0.95);
  backdrop-filter: blur(5px);
}
