.container {
  position: relative;

  padding: 3.33em var(--padding-container-desktop);
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.item {
  min-width: 22.1875em;
  height: 22.29em;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding: 1.04em;
  transition: var(--transition);

  &:focus {
    box-shadow: 6px 6px 0px 0px #8181d5;
  }
}
.itemMask {
  transition: var(--transition);

  &:hover,
  &:focus {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.35) 50%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      lightgray 0px -73.256px / 110% 164.486% no-repeat, #fff;

    box-shadow: 6px 6px 0px 0px #8181d5;
  }
}
.verified {
  color: var(--Black);
  text-align: center;

  font-size: 1.04em;
  line-height: 120%;
  text-transform: uppercase;
  padding: 0.416rem 0.625rem;
  border-radius: 999px;
  background: var(--White);
  display: inline-block;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.wrapper {
  display: flex;
  flex-direction: column;

  gap: 0.416rem;
}
.name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 1.458rem;

  align-self: stretch;
  font-weight: 700;
  line-height: 133%;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.genre {
  padding: 0.625rem 1.04rem;
  background: var(--Yellow);
  border-radius: 999px;
  color: var(--Black);
  text-align: center;

  font-size: 1.25rem;
  font-weight: 700;
  line-height: 133%;
  width: fit-content;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}

.variants {
  display: flex;
  align-items: center;
  gap: 4px;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.singleVariant {
  padding: 0.416rem 0.625rem;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;

  font-weight: 700;
  line-height: 133%;
}
@media (orientation: portrait) {
  .container {
    padding: 40px 16px;
  }
  .item {
    width: auto;
    height: 343px;
    padding: 12px;
    min-width: unset;
  }
  .verified {
    font-size: 16px;
    font-weight: 700;
    padding: 4px 8px;
  }
  .name {
    font-size: 24px;
  }
  .genre {
    padding: 4px 12px;
    font-size: 16px;
    line-height: 24px;
  }

  .variants {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .singleVariant {
    padding: 4px 12px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1024px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: 1fr;
  }
}
