.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  color: var(--Yellow);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.icon {
  position: absolute;
  left: 12px;
  display: flex;
  align-items: center;
  pointer-events: none;
  color: var(--Grey-Icon);
  transition: var(--transition);
}

.selectBox,
.selectBoxWOIcon {
  position: relative;
  width: 285px;
  max-width: 285px;
  color: var(--White);
  font-size: 18px;
  line-height: 24px;
  border-radius: 999px;
  border: 0.5px solid var(--White);
  background: var(--Dark-Grey);
  padding: 20px 48px 20px 40px;
  transition: var(--transition);
  cursor: pointer;
}
.selectBoxWOIcon {
  padding: 20px 48px 20px 16px;
}
.arrow {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icons/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%) rotate(0deg);
  transition: var(--transition);
  transition-duration: 0.1s;
}

.open .arrow {
  transform: translateY(-50%) rotate(180deg);
}
.selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
.dropDownContainer {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 12px;
  width: 100%;
  overflow-y: scroll;
  border-radius: 20px;
  background: var(--Grey-BG-2);
  box-shadow: 0px 4px 16px rgba(28, 28, 28, 0.4);
  z-index: 2;
  transition: var(--transition);
  overflow: hidden;
}

.dropdown {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 16px 12px 12px;
  overflow-y: auto;
  max-height: 200px;
}
.option {
  color: var(--White);
  font-size: 18px;
  line-height: 22px;
  padding: 6px 8px;
  border-radius: 12px;
  transition: var(--transition);
  cursor: pointer;
}
.option:hover,
.option:focus {
  background: rgba(110, 118, 132, 0.2);
}
.option:hover,
.option:focus,
.selectedOption {
  color: var(--Yellow);
}
@media (orientation: portrait) {
  .wrapper {
    width: 100%;
  }
  .selectBox {
    width: 100%;
    max-width: unset;
  }
}
