.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-inner-section) 0;
  background-image: url(../../assets/images/bg-missions.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 2.08em;
  max-width: 1320px;
  width: 100%;
  z-index: 1;
}
.title {
  color: var(--Yellow);
  text-align: center;

  font-size: 4.17em;
  line-height: 112.5%;
  text-transform: uppercase;
}

.subTitle,
.subTitleGreen {
  color: var(--White);
  text-align: center;
  font-weight: 500;

  font-size: 1.875em;
  line-height: 133%;
  max-width: 52.55em;
}
.subTitleGreen {
  color: var(--Yellow);
}
.description {
  text-align: center;

  font-size: 1.25em;
  line-height: 133%;
  max-width: 30.2em;
}
.decorLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  width: 22.3rem;
  height: 22.86rem;
  background-image: url(../../assets/images/decor-triangle.png);
  animation: levitate 4s ease-in-out infinite;
}
.decorRight {
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translateY(-50%);
  rotate: -13deg;
  background-size: cover;
  background-repeat: no-repeat;
  width: 10rem;
  height: 10rem;
  background-image: url(../../assets/images/eclipse.png);
  animation: levitate 6s ease-in-out 1s infinite;
}
.mobileDeviderShow {
  display: none;
}
.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.modalContainer {
  max-width: 90vw;
  width: 100%;
  padding: 0 !important;
  box-sizing: border-box;
}
.customOverlay {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(8px);
}
@media (orientation: portrait) {
  .container {
    padding: 60px 16px;
    align-items: normal;
  }
  .wrapper {
    align-items: center;
    gap: 20px;
  }
  .title {
    font-size: 30px;
    line-height: 38px;
  }

  .subTitle,
  .subTitleGreen {
    font-size: 24px;
    line-height: 32px;
  }
  .subTitleGreen {
    text-wrap-style: pretty;
  }
  .description {
    font-size: 20px;
    line-height: 28px;
  }
  .decorLeft,
  .decorRight {
    display: none;
  }
  .mobileDevider {
    display: none;
  }
  .mobileDeviderShow {
    display: block;
  }
}

@keyframes levitate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  50% {
    transform: translateY(-52%) rotate(1.5deg);
  }
  100% {
    transform: translateY(-50%) rotate(0deg);
  }
}
