.container {
  position: relative;
  padding: var(--padding-inner-section) var(--padding-container-desktop);
  background-image: var(--bg-desktop);
  background-size: cover;
  background-repeat: no-repeat;
}
.info {
  margin: 2em 0;
}
.name {
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: 12px;
  line-height: 114.6%;
  font-size: 5em;
}
.direction {
  color: var(--Yellow);

  font-size: 1.875em;
  line-height: 133%;
  margin-bottom: 20px;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 64px;
}
.location {
  display: flex;
  align-items: center;
  gap: 8px;
}
.location span {
  color: var(--White);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.list {
  display: flex;
  align-items: center;
  gap: 39px;
}
.item {
  color: var(--White);
  text-align: center;

  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.locationIcon {
  width: 40px;
  height: 40px;
  color: var(--Orange);
}

/* modal */
.modalContainer {
  max-width: 90vw;
  width: 100%;
  padding: 0 !important;
  box-sizing: border-box;
}
.customOverlay {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(8px);
}

.customCloseButton {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media (orientation: portrait) {
  .container {
    padding: 0;
  padding: 0 40px;
  background-image: var(--bg-mobile);
  background-position: 77% 0%;
  background-size: auto 608px;
  }
  .name {
    text-align: center;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 16px;
  }
  .direction {
    margin-bottom: 26px;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }
  .wrapper {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }
  .info {
    margin: 310px 0 60px;
  }
}
