.info {
  display: flex;
  margin-bottom: 12px;
}
.wrapper {
  margin-top: auto;
  margin-left: 6px;
}
.image {
  width: 78px;
  height: 78px;
  border-radius: 3px;
  box-shadow: 0px 0px 21.75px 0px rgba(0, 0, 0, 0.1),
    0px 6.75px 6.75px 0px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}
.spotifyIcon {
  margin-left: auto;
  width: 50px;
  height: 15px;
}
.wrapper {
  margin-bottom: 5.5px;
}
.title {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.224px;

  direction: var(--dir);
  unicode-bidi: bidi-override;
}
.controls {
  display: flex;
  align-items: flex-end;
  gap: 5.25px;
}
.icon {
  cursor: pointer;
  transition: var(--transition);
  width: 18px;
  height: 18px;

  &:hover {
    color: var(--Yellow);
  }
}
.line {
  border-radius: 1.5px;
  background: rgba(255, 255, 255, 0.3);
  height: 3px;
  width: 100%;
}
.time {
  text-align: right;
  font-family: "Helvetica Neue";
  font-size: 10.5px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.21px;
  padding: 3px 12px;
}
.playButton {
  width: 23px;
  height: 23px;
  margin-left: 8px;
  cursor: pointer;
  padding: 0;

  svg {
    width: 23px;
    height: 23px;
    transition: var(--transition);
  }
}

.playButton:hover svg,
.playButton:focus {
  color: var(--Yellow);
}
